@media all and (min-width:1101px){
    .main_menu ul{
        display: flex;
    }
    .offcanvas-container{
        visibility: hidden !important;
    }
}

@media all and (max-width:1199px){
    .banner_area_design {
        padding: 100px 0;
    }
    .banner_all_con h1 {
        font-size: 53px;
        line-height: 67px;
    }
    .banner_all_con h5 {
        font-size: 21px;
        line-height: 29px;
        margin-bottom: 25px;
    }
    .agency_title h2 {
        font-size: 44px;
        line-height: 69px;
    }
    .single_content {
        padding: 58px 32px 75px 54px;
        flex: 0 0 47%;
        max-width: 47%;
    }
    .single_content h3 {
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 40px;
    }
    .p_con h4 {
        font-size: 20px;
        line-height: 27px;
    }
    .service_banner p {
        max-width: 100%;
        width: 100%;
        margin: 30px 0;
    }
    .youtube_con h2 {
        font-size: 42px;
        line-height: 54px;
    }
    .youtube_con p {
        color: #FFFFFF;
        max-width: 700px;
        margin: 0 auto;
        width: 100%;
    }

    .single_video_img img {
        width: 161px;
    }
    .single_item_video_con {
        margin-bottom: 50px;
    }
    .single_video_img::after {
        position: absolute;
        content: "";
        background: url(../images/home/dot.png) no-repeat scroll 0 0 / 100% 100%;
        width: 100px;
        height: 150px;
        opacity: 0.3;
        bottom: 0%;
        right: 12%;
        z-index: -1;
    }
    .single_item_video_con:nth-child(2n+1) .video_flex .single_video_img::after {
        left: 12%;
        bottom: 0;
    }
    .single_together h3 {
        font-size: 30px;
        line-height: 40px;
    }
    .single_mission h3 {
        font-size: 27px;
        line-height: 47px;
        margin-bottom: 4px;
    }
    .meet_founder_area {
        padding: 37px 0;
    }
    .founder_con h4 {
        font-size: 29px;
        line-height: 42px;
        margin-bottom: 15px;
    }
    .team_img {
        width: 127px;
        height: 127px;
    }
    .our_client_area_design {
        padding: 25px 0;
    }
}
@media all and (max-width:1100px){
    .main_menu ul{
        display: none;
    }
    .icon_toggle{
        display: block;
    }
    .logo a img {
        height: auto;
        max-width: 181px;
    }
    .proposal {
        margin-right: 17px;
        padding: 8px 20px;
    }
   
    .proposal a {
        font-size: 14px;
    }
    .header_area {
        padding: 12px 0;
        position: relative;
    }
    .toggle-label {
        width: 31px;
        height: 32px;
    }
    .toggle-label .toggle-text::before,
    .toggle-label .toggle-text::after {
        display: none;
    }
    .offcanvas-container {
        top: 66px;
    }
    .single_tab_item a {
        color: #000 !important;
    }
}

@media all and (max-width:991px){
    .banner_all_con h1 {
        font-size: 43px;
        color: #FFFFFF;
        line-height: 50px;
    }
    .agency_title h2 {
        font-size: 37px;
        line-height: 50px;
    }
    .title {
        font-size: 26px;
        line-height: 40px;
    }
    .all_client img {
        max-width: 91px;
        max-height: 76px;
        margin: 0px 15px;
    }
    .record_agency_area {
        padding: 58px 0;
    }
    .single_content {
        padding: 27px;
        flex: 0 0 47%;
        max-width: 47%;
    }
    .single_content h3 {
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 22px;
    }
    .what_left h3 {
        font-size: 41px;
        line-height: 52px;
    }
    .what_single span {
        font-size: 40px;
        line-height: 90px;
        margin: 0 24px;
        flex: 0 0 40px;
        max-width: 37px;
    }
    .what_single {
        padding: 6px 0px;
        border-top: 1px solid #000;
    }
    .w_con {
        border-left: 1px solid #000;
        padding-left: 16px;
    }
    .w_con p {
        font-size: 15px;
        line-height: 20px;
        color: #000000;
    }
    .pp {
        margin-bottom: 28px;
    }
    .what_we_do_area {
        padding-top: 84px;
    }
    .process_area_design {
        margin-top: 80px;
    }
    .footer_left {
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        width: 100%;
        margin-bottom: 28px;
    }
    .banner_area_design.service_banner_area {
        padding-bottom: 24px;
    }
    .youtube_con h2 {
        font-size: 36px;
        line-height: 54px;
    }
    .single_item_video_con h2 {
        font-size: 34px;
        line-height: 21px;
    }
    .single_video_con h3 {
        font-size: 33px;
        line-height: 37px;
        margin: 25px 0;
    }
    .single_video_con p {
        min-height: auto;
        max-width: 661.4px;
        width: 100%;
    }
    .single_item_video_con {
        margin-bottom: 75px;
    }
    .our_work_all_content ul li {
        flex: 0 0 31%;
        max-width: 31%;
        margin-bottom: 15px;
    }
    .our_works_tab_menu ul li a br {
        display: none;
    }
    .our_work_all_content ul li a {
        border: 1px solid #000;
        padding: 10px 15px;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .our_work_all_content ul li a.active {
        border: 1px solid #F22929;
        padding: 10px 15px;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: #F22929;
        color: #FFF;
    }
    .our_work_all_content ul li a.active:after{
        display: none;
    }
    .t_single {
        flex: 0 0 48%;
        max-width: 48%;
        margin-bottom: 30px;
    }
    
}

@media all and (max-width:767px){
    .single_tab_item {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .agency_title h2 {
        font-size: 26px;
        line-height: 45px;
    }
    .agency_title {
        text-align: center;
        margin-bottom: 56px;
    }
    .all_client {
        display: flex;
        flex-wrap:wrap ;
    }
    .single_content {
        padding: 27px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .single_full_content_area {
        flex-wrap: wrap;
    }
    .single_content {
        padding: 34px;
    }
    .what_left h3 {
        text-align: center;
    }
    .what_we_do_area {
        padding-top: 51px;
    }
    .what_right {
        margin-top: 50px;
    }
    .what_single {
        padding: 0;
        border-top: 0;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 25px;
    }
    .w_con {
        border-left: 0;
        padding-left: 0;
    }
    .what_single span {
        font-size: 40px;
        line-height: 50px;
        margin: 0;
        flex: 0 0 40px;
        max-width: 37px;
    }
    .what_single:last-child {
        border-bottom: none;
    }
    .process_area_design {
        margin-top: 49px;
    }
    .contact_us_are_title {
        margin-top: 39px;
    }
    .contact_title h2 {
        font-size: 29px;
        line-height: 34px;
        width: 88%;
    }
    .single_c2 {
        text-align: center;
        margin-top: 25px;
    }
    .youtube_con ul li {
        margin: 0 8px;
    }
    .youtube_con ul li a {
        font-size: 16px;
        line-height: 26px;
    }

    .video_flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .single_video_con {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .single_item_video_con:nth-child(2n+1) .video_flex .single_video_img::after {
        left: 52% !important;
        bottom: 0;
    }
    .single_item_video_con:nth-child(2n) .video_flex {
        flex-direction: column-reverse;
    }
    .single_item_video_con:nth-child(2n) .video_flex .single_video_img::after {
        left: 63%;
        bottom: 0;
    }
    .our_work_all_content ul li {
        flex: 0 0 49%;
        max-width: 49%;
        margin-bottom: 15px;
    }
    .t_single {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .t_single iframe {
        width: 100%;
        min-height: 346px;
    }
    .our_works_area_design {
        padding-top: 11px;
        padding-bottom: 15px;
    }
    .single_together {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .single_together h3 {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 36px;
        text-align: center;
    }
    .founder_con {
        text-align: center;
    }
    .to_img {
        width: 100%;
    }
    .to_img img {
        width: 100%;
    }
    .single_mission {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .single_mission:last-child{
        margin-bottom: 0;
    }
    .founder_img {
        flex: 0 0 100%;
    }
    .founder_con {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 32px;
    }
    .a_about_us_area_design {
        padding: 25px 0;
    }
    .ab_together {
        padding-top: 50px;
        padding-bottom: 58px;
    }
    .meet_all h5 {
        font-size: 31px;
        margin-bottom: 22px;
    }
    .founder_con h4 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 11px;
    }
    .team_desktop {
        display: none;
    }
    .team_mobile{
        display: block;
    }
    .s_team {
        max-width: 100%;
    }
    .life_of_cocoma {
        padding-top: 36px;
        padding-bottom: 13px;
    }

}


@media all and (max-width:575px){
    .logo a img {
        height: auto;
        max-width: 160px;
    }
    .banner_all_con h5 br{
        display: none;
    }
    .banner_form input[type="email"] {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .banner_form input[type="submit"] {
        margin-left: 0;
        margin-top: 17px;
    }
    .banner_all_con h5 {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 21px;
    }
    .agency_title h2 {
        font-size: 26px;
        line-height: 32px;
        display: inline;
    }
    .agency_title h2::after,
    .agency_title h2::before {
        display: none;
    }
    .t_mar {
        margin-bottom: 22px;
    }
    .single_c {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .single_c2 input {
        width: 206px;
        height: 47px;
        font-size: 14px;
        line-height: 36px;
    }
    .f_single_left {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 27px;
    }
    .f_single_right {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 27px;
    }
    .footer_area_design {
        padding: 43px 0;
        padding-bottom: 20px;
    }
    .youtube_con ul {
        display: block;
        justify-content: center;
    }
    .youtube_con h2 {
        font-size: 29px;
        line-height: 43px;
    }
    .single_video_img img {
        width: 124px;
    }
    .single_video_con h3 {
        font-size: 26px;
        line-height: 31px;
        margin: 15px 0;
        margin-top: 29px;
    }
    .our_client_area_design {
        padding: 25px 0;
        padding-top: 0;
    }
    .founder_con {
        text-align: center;
    }
}

@media all and (max-width:450px){
    .logo a img {
        max-width: 120px;
    }
    .proposal a {
        font-size: 11px;
        line-height: 14px;
    }
    .proposal {
        margin-right: 9px;
        padding: 3px 6px;
    }
    .proposal a img {
        margin-left: 2px;
        width: 21px;
    }
    .toggle:checked ~ .toggle-label .toggle-icon::before {
        transform: translateX(-50%) rotate(45deg);
        top: 0.5px;
    }
    .toggle-label .toggle-icon, .toggle-label .toggle-icon::before, .toggle-label .toggle-icon::after {
        height: 2px;
        width: 19px;

    }
    .toggle-label {
        width: 16px;
        height: 21px;
        margin-top: 6px;
    }
    .offcanvas-container {
        top: 53px;
    }
    .offcanvas-container {
        width: 100%;
    }
    .card-body {
        padding: 10px;
    }
    .offcanvas-menu ul li a {
        font-size: 13px;
    }
    .toggle-label .toggle-icon::before {
        transform: translate3d(-50%, -11.5px, 0);
        top: 4px;
    }
    .banner_area_design {
        padding: 55px 0;
    }
    .banner_all_con h1 {
        font-size: 37px;
        color: #FFFFFF;
        line-height: 38px;
    }
    .banner_all_con h5 {
        font-size: 15px;
        line-height: 10px;
        margin-bottom: 21px;
    }
    .banner_form input[type="email"] {
        font-size: 14px;
    }
    .banner_form input[type="submit"] {
        font-size: 14px;
    }
    .single_content h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 22px;
    }
    .single_content h3 span {
        font-size: 21px;
    }
    .single_content p {
        color: #FFF;
        font-size: 14px;
    }
    p {
        font-size: 14px;
        line-height: 20px;
    }
    .single_content {
        padding: 27px 15px;
    }
    .single_c input, .single_c textarea, .single_c select {
        font-size: 14px;
    }
    .our_work_all_content ul li {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .t_single iframe {
        width: 100%;
        min-height: 242px;
    }
    .t_single {
        margin-bottom: 15px;
    }
    .single_together h3 {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 29px;
        text-align: center;
    }
    .meet_all h5 {
        font-size: 26px;
        margin-bottom: 8px;
    }
    .founder_con h4 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 15px;
    }
    .meet_founder_area {
        padding: 37px 0;
        padding-top: 10px;
    }
}
